* { 
    box-sizing: border-box; 
  }
  
  :root {
    --pink: #FFE7E9;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    background: #fcfaf7;
  }
  
  body {
    display: flex;          
    flex-direction: column; 
    min-height: 100vh;      
  }
  
  main, .page-content {
    flex: 1 0 auto; 
    display: flex;  
    flex-direction: column;
    width: 100%;    
  }